
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>用户名:</b>
  <%= @user.name %>
</p>



<p>
  <b>用户状态:</b>
  <%= @user.status %>
</p>



<p>
  <b>手机:</b>
  <%= @user.mphone %>
</p>


<p>
  <b>个人介绍:</b>
  <%= @user.bio %>
</p>

<p>
  <b>网站:</b>
  <%= @user.webs %>
</p>



<%= link_to '编辑', ruser.account_edit_path(@user) %> |
